.wrapper {
  display: inline-block;
  position: relative;
}

.label {
  text-decoration: underline;
  color: #838c91;
  font-size: 12px;
}

.caret {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  font-size: 14px;
  color: #838c91;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 0;
  margin: 0;
  opacity: 0;
}

.caret.show {
  margin: 0 1px 0 3px;
  width: 8px;
  opacity: 1;
}
