.button {
  position: relative;
  display: inline-block;
}

.buttonBG {
  display: inline-block;
  height: 40px;
  width: 40px;  
  background-color: #0494c7;
  border: .1em solid white;
}

.buttonBG:hover {
  border: .1em solid black;  
}

.icon-holder {
	overflow: hidden;
	position: absolute;
	bottom: 2px;
	right: -1px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #00C853;
}

.icon {
	position: absolute;
	left: 3px;
	top: 3px;
	font-size: 8px;
	color: #fff;
}