.button {
  position: relative;
  display: inline-block;
}

.buttonBG {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.loadingImg {
  display: inline-block;
  height: 16px;
  width: 16px;
}
