.button {
  box-sizing: border-box;
  appearance: none;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  margin-bottom: 12px;
  padding: 7px;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  padding: 8px 12px;
  transition: box-shadow 0.2s ease;
  background-color: #606060;
  color: #fff;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}

.button:hover {
  box-shadow: 1px 1px 4px 0 #aaa;
}

.primary {
  background-color: #337ab7;
}

.danger {
  background-color: #d43f3a;
}

.success {
  background-color: #4cae4c;
}
