.panel {
  position: relative;
  margin: 0;
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d6dadc;
  border-bottom-color: #c4c9cc;
  box-shadow: 0 1px 6px rgba(0,0,0,.15);
  overflow: hidden;
  width: 300px;
  min-height: 50px;
  z-index: 999;

  span, p, a {
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
  }

}

.title {
  display: block;
  margin-top: 5px;
  padding-bottom: 10px;
  width: auto;
  text-align: center;
  color: #838c91;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

a.btn-close {
  display: inline;
  position: absolute;
  right: 10px;
  top: 5px;
  color: #838c91; 
  font-size: 28px;
  vertical-align: top;
  text-decoration: none;

  &:hover { text-decoration: none; }
  
}

.content {
  margin: 0;
  padding: 0;
}

.content > hr {
  margin: 10px 0;
  height: 1px;
  background-color: #ddd;
  border: none;
}