/*
  Estilo para ser inserido em todas as páginas do SEI
*/

@import '~dragula/dist/dragula.css';

.hide {
  display: none !important;
}

[data-tooltip] {
  position: relative;
  z-index: 999;
}

[data-tooltip]:hover:after {
  display: block;
  content: attr(data-tooltip);
  padding: 6px 6px;
  border-radius: 3px;
  position: absolute;
  right: -40px;
  top: 26px;
  height: auto;
  width: auto;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  white-space: pre;
  background: #ffffaa;
  box-shadow: 0 0 5px #a0a0a0;
  color: #424242;
}

svg[data-icon] > path {
  color: inherit;
}
