@import "tweaks.scss";

#trello-extension-title {
  margin-left: 10px;
  background-color: yellow;
  border-radius: 5px;
  padding: 3px;
  font-weight: 600;
}

#trello-button-placeholder {
  display: inline-block;
}

.hide {
  display: none !important; 
}