/*
  Estilo para ser inserido na página Controle de Processos
*/

.trello-main-button {
  display: inline-block;
}

.trello-card {
  display: block;
}

.trello-create-card-button {
  display: inline-block;
}