.wrapper {
	position: relative;
	overflow: visible;
}

.filter-panel {
	position: absolute;
	left: 0;
	top: 42px;
}

.filter-message {
	position: absolute;
	left: 1px;
	top: 42px;
	color: red;
	width: 41px;
	background-color: #00C853;
	color: #fff;
	text-align: center;
	padding: 3px 0px;
	text-transform: uppercase;
	font-size: 9px;
}