a { text-decoration: none; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #f2f2f2 1px, transparent 1px),
                    linear-gradient(to bottom, #f2f2f2 1px, transparent 1px);  
}

.wrapper-center {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
}
